# Port for the Node server to run on
PORT=3000

# The address of the frontend application (for CORS)
FRONTEND_URL=http://127.0.0.1:5500

# Provide your Google Gemini API key here
GEMINI_API_KEY=AIzaSyAvP2xywA4W7DSevW6YK2_QNqmMG4RpGOs

# For emailing analytics
# Example using Gmail:
# USER is your full email address (e.g., example@gmail.com)
# PASS is your App Password (NOT your regular account password)
EMAIL_USER=ak47fzs@gmail.com
EMAIL_PASS=juel wsgp tull olix
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
